
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Navbar</h1>
      </div>
      <div class="bs-component">
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="javascript:void(0)" class="navbar-brand">Brand</a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="javascript:void(0)">Active</a></li>
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Dropdown header</li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                  <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <input type="text" placeholder="Search" class="form-control col-lg-8"/>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bs-component">
        <div class="navbar navbar-warning">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-warning-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="javascript:void(0)" class="navbar-brand">Brand</a>
          </div>
          <div class="navbar-collapse collapse navbar-warning-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="javascript:void(0)">Active</a></li>
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Dropdown header</li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                  <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <input type="text" placeholder="Search" class="form-control col-lg-8"/>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /example-->
      <div class="bs-component">
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-inverse-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="javascript:void(0)" class="navbar-brand">Brand</a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="javascript:void(0)">Active</a></li>
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Dropdown header</li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                  <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <input type="text" placeholder="Search" class="form-control col-lg-8"/>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="javascript:void(0)">Link</a></li>
              <li class="dropdown"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Action</a></li>
                  <li><a href="javascript:void(0)">Another action</a></li>
                  <li><a href="javascript:void(0)">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /example-->
    </div>
  </div>
</div>
<!--
Buttons
==================================================
-->
<div class="bs-docs-section clearfix">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Buttons</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Default buttons</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-default">Default</a><a href="javascript:void(0)" class="btn btn-primary">Primary</a><a href="javascript:void(0)" class="btn btn-success">Success</a><a href="javascript:void(0)" class="btn btn-info">Info</a><a href="javascript:void(0)" class="btn btn-warning">Warning</a><a href="javascript:void(0)" class="btn btn-danger">Danger</a><a href="javascript:void(0)" class="btn btn-link">Link</a></p>
      <h3>Flat buttons</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-flat btn-default">Default</a><a href="javascript:void(0)" class="btn btn-flat btn-primary">Primary</a><a href="javascript:void(0)" class="btn btn-flat btn-success">Success</a><a href="javascript:void(0)" class="btn btn-flat btn-info">Info</a><a href="javascript:void(0)" class="btn btn-flat btn-warning">Warning</a><a href="javascript:void(0)" class="btn btn-flat btn-danger">Danger</a><a href="javascript:void(0)" class="btn btn-flat btn-link">Link</a></p>
      <h3>Raised buttons</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-default btn-raised">Default</a><a href="javascript:void(0)" class="btn btn-primary btn-raised">Primary</a><a href="javascript:void(0)" class="btn btn-success btn-raised">Success</a><a href="javascript:void(0)" class="btn btn-info btn-raised">Info</a><a href="javascript:void(0)" class="btn btn-warning btn-raised">Warning</a><a href="javascript:void(0)" class="btn btn-danger btn-raised">Danger</a></p>
      <h3>Disabled buttons</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-default disabled">Default</a><a href="javascript:void(0)" class="btn btn-primary disabled">Primary</a><a href="javascript:void(0)" class="btn btn-success disabled">Success</a><a href="javascript:void(0)" class="btn btn-info disabled">Info</a><a href="javascript:void(0)" class="btn btn-warning disabled">Warning</a><a href="javascript:void(0)" class="btn btn-danger disabled">Danger</a><a href="javascript:void(0)" class="btn btn-link disabled">Link</a></p>
      <h3>Button groups</h3>
      <div style="margin-bottom: 15px;">
        <div style="margin: 0;" class="btn-toolbar bs-component">
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-default">Default</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-primary">Primary</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-success">Success</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-info">Info</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-warning">Warning</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-danger">Danger</a><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
      <h3>Button sizes</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-primary btn-lg">Large button</a><a href="javascript:void(0)" class="btn btn-primary">Default button</a><a href="javascript:void(0)" class="btn btn-primary btn-sm">Small button</a><a href="javascript:void(0)" class="btn btn-primary btn-xs">Mini button</a></p>
      <h3>Floating action buttons</h3>
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised mdi-action-grade"></a><a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised mdi-action-grade"></a><a href="javascript:void(0)" class="btn btn-success btn-fab btn-raised mdi-action-grade"></a><a href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-action-grade"></a><a href="javascript:void(0)" class="btn btn-warning btn-fab btn-raised mdi-action-grade"></a><a href="javascript:void(0)" class="btn btn-danger btn-fab btn-raised mdi-action-grade"></a></p>
    </div>
    <div class="col-lg-6">
      <p class="bs-component"><a href="javascript:void(0)" class="btn btn-default btn-lg btn-block">Block level button</a></p>
      <div style="margin-bottom: 15px;" class="bs-component">
        <div class="btn-group btn-group-justified"><a href="javascript:void(0)" class="btn btn-default">Left</a><a href="javascript:void(0)" class="btn btn-default">Middle</a><a href="javascript:void(0)" class="btn btn-default">Right</a></div>
      </div>
      <div style="margin-bottom: 15px;" class="bs-component">
        <div class="btn-toolbar">
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-default">1</a><a href="javascript:void(0)" class="btn btn-default">2</a><a href="javascript:void(0)" class="btn btn-default">3</a><a href="javascript:void(0)" class="btn btn-default">4</a></div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-default">5</a><a href="javascript:void(0)" class="btn btn-default">6</a><a href="javascript:void(0)" class="btn btn-default">7</a></div>
          <div class="btn-group"><a href="javascript:void(0)" class="btn btn-default">8</a>
            <div class="btn-group"><a href="bootstrap-elements.html" data-target="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Dropdown<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-component">
        <div class="btn-group-vertical"><a href="javascript:void(0)" class="btn btn-default">Button</a><a href="javascript:void(0)" class="btn btn-default">Button</a><a href="javascript:void(0)" class="btn btn-default">Button</a><a href="javascript:void(0)" class="btn btn-default">Button</a></div>
      </div>
    </div>
  </div>
</div>
<!--
Typography
==================================================
-->
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Typography</h1>
      </div>
    </div>
  </div>
  <!-- Headings-->
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <h2>Example body text</h2>
        <p>Nullam quis risus eget<a href="javascript:void(0)">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p>The following snippet of text is<strong>rendered as bold text</strong>.</p>
        <p>The following snippet of text is<em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is<abbr title="attribute">attr</abbr>.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <h2>Emphasis classes</h2>
        <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
        <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
        <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  </div>
  <!-- Blockquotes-->
  <div class="row">
    <div class="col-lg-12">
      <h2 id="type-blockquotes">Blockquotes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><small>Someone famous in
            <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="bs-component">
        <blockquote class="pull-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><small>Someone famous in
            <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>