
<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
  <ul class="nav navbar-nav c-theme-nav">
    <li class="c-menu-type-classic"><a href="#" class="c-link dropdown-toggle">Home</a>
      <ul class="dropdown-menu c-menu-type-classic c-pull-left">
        <li><a href="index.html">Home Version 1</a></li>
        <li><a href="home-2.html">Home Version 2</a></li>
        <li><a href="home-3.html">Home Version 3</a></li>
        <li><a href="home-4.html">Home Version 4</a></li>
        <li><a href="home-5.html">Home Version 5</a></li>
        <li><a href="home-6.html">Home Version 6</a></li>
        <li><a href="home-7.html">Home Version 7</a></li>
        <li><a href="home-8.html">Home Version 8</a></li>
        <li><a href="home-9.html">Home Version 9</a></li>
        <li><a href="home-10.html">Home Version 10</a></li>
      </ul>
    </li>
    <li class="c-active c-menu-type-classic"><a href="" class="c-link dropdown-toggle">Features</a>
      <ul class="dropdown-menu c-menu-type-classic c-pull-left">
        <li class="dropdown-submenu"><a href="#">Headers</a>
          <ul class="dropdown-menu c-pull-right">
            <li><a href="home-header-1.html">Home Header v1</a></li>
            <li><a href="home-header-1-ext.html">Home Header v1 - Extended</a></li>
            <li><a href="home-header-2.html">Home Header v2</a></li>
            <li><a href="home-header-2-ext.html">Home Header v2 - Extended</a></li>
            <li><a href="home-header-3.html">Home Header v3</a></li>
            <li><a href="home-header-4.html">Home Header v4</a></li>
            <li><a href="home-header-4-ext.html">Home Header v4 - Extended</a></li>
            <li><a href="home-header-5.html">Home Header v5</a></li>
            <li><a href="home-header-5-ext.html">Home Header v5 - Extended</a></li>
            <li><a href="home-header-6.html">Home Header v6</a></li>
            <li><a href="home-header-6-ext.html">Home Header v6 - Extended</a></li>
            <li><a href="home-header-7.html">Home Header v7</a></li>
            <li><a href="home-header-8.html">Home Header v8</a></li>
            <li><a href="inner-header-1.html">Inner Header v1</a></li>
            <li><a href="inner-header-1-ext.html">Inner Header v1 - Extended</a></li>
            <li><a href="inner-header-2.html">Inner Header v2</a></li>
            <li><a href="inner-header-2-ext.html">Inner Header v2 - Extended</a></li>
            <li><a href="inner-header-3.html">Inner Header v3</a></li>
            <li><a href="inner-header-4.html">Inner Header v4</a></li>
            <li><a href="inner-header-5.html">Inner Header v5</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu"><a href="#">Footers</a>
          <ul class="dropdown-menu c-pull-right">
            <li><a href="footer-ext-1.html#footer">Footer - Extended v1</a></li>
            <li><a href="footer-ext-2.html#footer">Footer - Extended v2</a></li>
            <li><a href="footer-ext-3.html#footer">Footer - Extended v3</a></li>
            <li><a href="footer-default.html#footer">Footer - Contact Form</a></li>
            <li><a href="footer-compact.html#footer">Footer - Compact</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu"><a href="#">Breadcrumbs</a>
          <ul class="dropdown-menu c-pull-right">
            <li><a href="breadcrumbs-default.html">Breadcrumbs - Default</a></li>
            <li><a href="breadcrumbs-subtitle.html">Breadcrumbs - Sub Title</a></li>
            <li><a href="breadcrumbs-bgimage-1.html">Breadcrumbs - Bg Image V1</a></li>
            <li><a href="breadcrumbs-bgimage-2.html">Breadcrumbs - Bg Image V2</a></li>
            <li><a href="breadcrumbs-bgimage-3.html">Breadcrumbs - Bg Image V3</a></li>
            <li><a href="breadcrumbs-bgimage-4.html">Breadcrumbs - Bg Image V4</a></li>
            <li><a href="breadcrumbs-bgimage-5.html">Breadcrumbs - Bg Image V5</a></li>
            <li><a href="breadcrumbs-bgimage-6.html">Breadcrumbs - Bg Image V6</a></li>
            <li><a href="breadcrumbs-bgimage-7.html">Breadcrumbs - Bg Image V7</a></li>
            <li><a href="breadcrumbs-bgimage-8.html">Breadcrumbs - Bg Image V8</a></li>
            <li><a href="breadcrumbs-bgimage-9.html">Breadcrumbs - Bg Image V9</a></li>
            <li><a href="breadcrumbs-bgimage-10.html">Breadcrumbs - Bg Image V10</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu c-active"><a href="#">Mega Menu</a>
          <ul class="dropdown-menu c-pull-right">
            <li><a href="megamenu-extended.html">Mega Menu - Extended</a></li>
            <li><a href="megamenu-light.html">Mega Menu - Light</a></li>
            <li class="c-active"><a href="megamenu-dark.html">Mega Menu - Dark</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu"><a href="page-extended-portfolio.html">Multi Level Menu</a>
          <ul class="dropdown-menu c-pull-right">
            <li><a href="#">Example Link</a></li>
            <li><a href="#">Example Link</a></li>
            <li><a href="#">Example Link</a></li>
            <li class="dropdown-submenu"><a href="#">Example Sub Menu</a>
              <ul class="dropdown-menu c-pull-left">
                <li><a href="#">Example Link</a></li>
                <li><a href="#">Example Link</a></li>
                <li><a href="#">Example Link</a></li>
                <li class="dropdown-submenu"><a href="#">Example Sub Menu</a>
                  <ul class="dropdown-menu c-pull-left">
                    <li><a href="#">Example Link</a></li>
                    <li><a href="#">Example Link</a></li>
                    <li><a href="#">Example Link</a></li>
                    <li><a href="#">Example Link</a></li>
                  </ul>
                </li>
                <li><a href="#">Example Link</a></li>
              </ul>
            </li>
            <li><a href="#">Example Link</a></li>
            <li><a href="#">Example Link</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#" class="c-link dropdown-toggle">Pages</a>
      <ul style="min-width: auto" class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth">
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li>
              <h3>Page Samples 1</h3>
            </li>
            <li><a href="page-about-1.html">About Us 1</a></li>
            <li><a href="page-about-2.html">About Us 2</a></li>
            <li><a href="page-contact-1.html">Contact Us 1</a></li>
            <li><a href="page-contact-2.html">Contact Us 2</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li>
              <h3>Page Samples 2</h3>
            </li>
            <li><a href="page-contact-3.html">Contact Us 3</a></li>
            <li><a href="page-team.html">Meet The Team</a></li>
            <li><a href="page-product-launch.html">Product Launch</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li>
              <h3>Gallery Pages</h3>
            </li>
            <li><a href="page-lightbox-gallery.html">Lightbox Gallery</a></li>
            <li><a href="page-fullwidth-gallery.html">Full Width Gallery</a></li>
            <li><a href="page-masonry-gallery.html">Masonry Gallery</a></li>
            <li><a href="page-index-gallery.html">Gallery Index</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li>
              <h3>Blog Pages</h3>
            </li>
            <li><a href="page-blog-list.html">Blog List View</a></li>
            <li><a href="page-blog-grid.html">Blog Grid View</a></li>
            <li><a href="page-blog-post.html">Blog Single Post</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-menu-type-classic"><a href="#" class="c-link dropdown-toggle">Portfolio</a>
      <ul class="dropdown-menu c-menu-type-classic c-pull-left">
        <li><a href="page-4col-portfolio.html">4 Columns Portfolio</a></li>
        <li><a href="page-2col-portfolio.html">2 Columns Portfolio</a></li>
        <li><a href="page-masonry-portfolio.html">Masonry Portfolio</a></li>
        <li><a href="page-extended-portfolio.html">Extended Portfolio</a></li>
      </ul>
    </li>
    <li><a href="#" class="c-link dropdown-toggle">Components</a>
      <ul style="min-width: auto" class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth">
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li><a href="component-tabbed-contents.html">Tabbed Contents</a></li>
            <li><a href="component-features-1.html">Feature Blocks 1</a></li>
            <li><a href="component-features-2.html">Feature Blocks 2</a></li>
            <li><a href="component-features-3.html">Feature Blocks 3</a></li>
            <li><a href="component-latest-works.html">Latest Works</a></li>
            <li><a href="component-abouts.html">Abouts</a></li>
            <li><a href="component-services.html">Services</a></li>
            <li><a href="component-latest-items.html">Latest Items</a></li>
            <li><a href="component-blog-elements.html">Blog Elements</a></li>
            <li><a href="component-counters.html">Counters</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li><a href="component-pricing-tables-1.html">Pricing Tables 1</a></li>
            <li><a href="component-pricing-tables-2.html">Pricing Tables 2</a></li>
            <li><a href="component-bars.html">Engage Bars</a></li>
            <li><a href="component-testimonials.html">Testimonials</a></li>
            <li><a href="component-clients.html">Clients</a></li>
            <li><a href="component-steps.html">Steps</a></li>
            <li><a href="component-team.html">Team</a></li>
            <li><a href="component-headings.html">Headings</a></li>
            <li><a href="component-dividers.html">Dividers</a></li>
            <li><a href="component-accordions.html">Accordion Contents</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li><a href="component-lists.html">Lists</a></li>
            <li><a href="component-blockquotes.html">Blockquotes</a></li>
            <li><a href="component-navs.html">Navigations</a></li>
            <li><a href="component-fontawesome-icons.html">Fontawesome Icons</a></li>
            <li><a href="component-simpleline-icons.html">Simple Line Icons</a></li>
            <li><a href="component-glyphicons-icons.html">Glyphicons Icons</a></li>
            <li><a href="component-custom-icons.html">Custom Icons</a></li>
            <li><a href="component-social-icons.html">Social Icons</a></li>
            <li><a href="component-media-embeds.html">Media Embeds</a></li>
            <li><a href="component-labels-badges.html">Labels & Badges</a></li>
          </ul>
        </li>
        <li>
          <ul class="dropdown-menu c-menu-type-inline">
            <li><a href="component-colors.html">UI Colors</a></li>
            <li><a href="component-buttons.html">Buttons</a></li>
            <li><a href="component-form-controls.html">Form Controls</a></li>
            <li><a href="component-tables.html">Tables</a></li>
            <li><a href="component-modals.html">Modals</a></li>
            <li><a href="component-tabs.html">Tabs</a></li>
            <li><a href="component-paginations.html">Paginations</a></li>
            <li><a href="component-panels.html">Panels</a></li>
            <li><a href="component-progress-bars.html">Progress Bars</a></li>
            <li><a href="component-alerts.html">Alerts</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-search-toggler-wrapper"><a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a></li>
    <li><a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign In</a></li>
    <li class="c-quick-sidebar-toggler-wrapper"><a href="#" class="c-quick-sidebar-toggler"><span class="c-line"></span><span class="c-line"></span><span class="c-line"></span></a></li>
  </ul>
</nav>