
<div class="page-logo"><a href="#" id="logo" class="logo-default"><img src="undefinedimages/codex.png"></a>
  <div class="menu-toggler sidebar-toggler"></div>
</div><a href="javascript:;" data-toggle="collapse" data-target=".navbar-collapse" class="menu-toggler responsive-toggler"></a>
<!--.page-actions
.btn-group
    +dropdown-button('Project', undefined, 'sm')
        +lia Themes
        +lia Modules
        +lia Codex
    +dropdown-button('Master', undefined, 'sm')
        +lia Master
        +lia 1.2.2
        +lia 1.2.1
        +lia 1.2.0
        +lia 1.1.0
        +lia 1.0.1
        +lia 1.0.0
-->