$code-block-top-height: 17px;
$code-block-border-color: #BDAEA3;
$code-block-code-bg: #f5f2f0;

.code-block {
    margin: 15px 0;
    border: 1px solid $code-block-border-color;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms linear;

    &.code-block-show {
        opacity: 1;
        transition: opacity 300ms linear;
    }

    .code-block-top {
        height: $code-block-top-height;
        overflow: hidden;
    }

    .code-block-information {
        font-size: 11px;
        h4 {
            padding: 2px 10px;
            font-size: 11px;
            span {
                padding-right: 10px;
                text-transform: uppercase;
            }
            small {
                font-size: 11px;
                font-weight: 300;
            }
        }
        dl, h4 {
            display: block;
            float: left;
            width: 50%;
            margin: 0;
        }
        dl {
            border-left: 1px solid $code-block-border-color;
        }
        dt, dd {
            display: block;
            padding: 1px 10px;
            border-right: 1px solid $code-block-border-color;
            float: left;
            text-align: center;
            width: 25%;
            color: #757779;
        }
        dt {
            background: darken($code-block-code-bg, 10);
        }
        dd {
            background: $code-block-code-bg;
        }
    }


    .code-block-content {
        border-top: 1px solid $code-block-border-color;

        .code-block-actions {
            position: absolute;
            z-index: 9;
            right: 16px;

            a.btn {
                @include btn-sm;
                font-size: 11px;
            }
        }

        pre {
            margin: 0;
            width: 100%;
            padding-top: 0;
            padding-bottom: 1px;

            code, span.token {
                background-color: $code-block-code-bg !important;
                border: none !important;
                box-shadow: none !important;
            }
        }



    }
}
