include ../views/_base
#page-loader
    .loader.loader-page

.page-header.navbar.navbar-fixed-top

    .page-header-inner
        block header-logo
            .page-logo
                .logo-packadic.pull-left
                    block header-logo-inner
                        | {{name}}
                block header-sidebar-toggler
                    .menu-toggler.sidebar-toggler(data-toggle='tooltip', title='Toggle the sidebar menu', data-layout-api='sidebar-toggle', data-placement='right')

        block header-responsive-toggler
            a(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse').menu-toggler.responsive-toggler

        .pull-right
            block header-right
                .nav-link.quick-sidebar-toggler(data-layout-api='qs-toggle', data-toggle='tooltip', title='Toggle the quick sidebar menu', data-placement='left', data-offset='0 10px')

.clearfix


.page-container
    .page-sidebar-wrapper
        .page-sidebar.navbar-collapse.collapse
            block page-sidebar
                ul.page-sidebar-menu
                    block page-sidebar-menu
                        +sb-item('Home', "['./home']", 'fa fa-home').start

                        +sb-item('Code Block', "['./code-block']", 'fa fa-bitcoin')

                        +sb-item('HTML version', '/index.html', 'fa fa-html5')

                        +sb-item('Components', 'javascript:;', 'fa fa-puzzle-piece color-teal-800', true)
                            +sb-submenu
                                +sb-item('Box', '/box.html')


    .page-content-wrapper
        block page-content-wrapper
            .page-content
                .page-head
                    .page-title
                        h1 {{pageTitle}}
                            small(ng-if='pageSubTitle') {{pageSubTitle}}
                ul.page-breadcrumb.breadcrumb
                    block breadcrumb
                .page-content-seperator
                block page-content
                    .page-content-inner
                        router-outlet

.page-footer
    .page-footer-inner
        block page-footer-inner
            - var year = (new Date()).getFullYear()
            | Copyright Packadic
    block scroll-to-top
        .scroll-to-top
            i.fa.fa-level-up

