.code-block
    .code-block-top
        dl.code-block-information
            dt Language:
            dd php
            dt Lines:
            dd 123
        .code-block-actions.pull-right
            a(href="#").btn.blue-grey: i.fa.fa-copy

    .code-block-content
        pre.line-numbers
            code.code-block-code: content
