.code-block(v-class='code-block-show: show, code-block-minimized: minimized', v-el='block', v-on='click: tryMaximize')
    .code-block-top(v-if='showTop')
        .code-block-information
            h4
                span(v-text='title')
                small(v-text='description')
            dl
                dt Language
                dd(v-text='language')
                dt Lines
                dd(v-text='lines')


    .code-block-content(v-el='content')
        .code-block-actions
            template(v-repeat='actions')
                a.btn(
                    href="javascript:;", data-toggle='tooltip', data-container='body', title='{{title}}',
                    data-clipboard-text="Copy me!", class='code-block-action-button {{actionBtnClass}}',
                    v-on='click: onClick', id='{{id}}'
                )
                    i.fa(class='{{icon}}')

        pre.line-numbers(v-el='pre')
            code.code-block-code(v-el='code'): content
