.row
    .col-md-12
        .tabbable
            ul.nav.nav-tabs
                li.active: a(data-toggle='tab', href='#light1', aria-expanded='true')
                    i.text-green.tab-icon.fa.fa-pencil-square-o
                    |  Basic Info
                li: a(data-toggle='tab', href='#light2', aria-expanded='false')
                    i.text-purple.tab-icon.fa.fa-cog
                    |  Settings
                li: a(data-toggle='tab', href='#light3', aria-expanded='false')
                    i.text-blue.tab-icon.fa.fa-key
                    |  Password
            .tab-content
                #light1.tab-pane.active.fade.in
                    p Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.
                #light2.tab-pane.fade
                    p Sagas mori, tanquam varius fluctui. Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.
                #light3.tab-pane.fade
                    p Raptus lubas ducunt ad habitio. Cum eleates crescere, omnes lixaes vitare alter, camerarius fluctuses.
