////
/// Stylesheet main file
/// @group stylesheet
/// @author Robin Radic
////
// 1. Base
// 2. Bootstrap
// 3. Layout
// 4. Plugins
// 5. Components
// 6. Utilities
//
/****************************/
// 1. Base
/****************************/
//
@import "base";
@import url($web-font);
@import "../../jspm_packages/npm/font-awesome@4.4.0/scss/font-awesome";
@import "../../jspm_packages/github/tgdev/animate-sass@0.6.4/helpers/base";
//
/****************************/
// 2. Bootstrap
/****************************/
//
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// // Components
@import "bootstrap/animation";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/responsive-embed";
@import "bootstrap/close";
// Components w/ JavaScript
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/utilities-spacing";
@import "bootstrap/utilities-responsive";
//
/****************************/
// 3. Layout
/****************************/
//
@import 'layout/print';
@import 'layout/header';
@import 'layout/page-container';
@import 'layout/sidebar';
@import 'layout/content';
@import 'layout/footer';

.page-header {
    .page-logo > .logo-default {
        margin: 19px 10px 0 10px !important;
    }
}

//
/****************************/
// 4. Plugins
/****************************/
//
@import "plugins/noty";
@import "plugins/slimscroll";
@import "plugins/sass-material-colors-classes";
@import "plugins/mCustomScrollbar";
//@import "plugins/jstree2";
//@import "plugins/spectrum";
//@import "plugins/bootstrap3-editable";
//@import "plugins/bootstrap-switch";
//@import "plugins/bootstrap3-xeditable";
//@import "plugins/select2";

.bg-color-white {
    background-color: #ffffff !important;
}

.bg-color-black {
    background-color: #000000 !important;
}

//
/****************************/
// 5. Components
/****************************/
//
@import "components/grid";
@import "components/styler";
@import "components/loader";
@import "components/typography";
@import "components/list-group";
@import "components/code";
@import "components/dropdown";
@import "components/popover";
@import "components/buttons";
@import "components/navs";
@import "components/labels";
@import "components/tables";
@import "components/tooltip";
@import "components/code-block";
@import "components/ibox";
@import "components/progressbar";

//@import "components/preferences";
//@import "components/quick_sidebar";
//@import "components/form-inputs-material";


//
/****************************/
// 6. Utilities
/****************************/
//
@import "utilities/positioning";
@import "scss-json";



// tmp angular stuff
a[ui-sref]{
    &:hover, &:hover * { cursor: hand }
}
[v-cloak] {
    display: none;
}
.fake-link {
    cursor: pointer;
}
$sidebar-animation-collapse-speed: 400ms;
@media (min-width: 992px) {
    .page-sidebar {
        width: $sidebar-width;
        transition: $sidebar-animation-collapse-speed linear width;

        .page-sidebar-closed & {
            width: $sidebar-collapsed-width;
            transition: $sidebar-animation-collapse-speed linear width;
        }
    }

    .page-content {
        margin-left: $sidebar-width;
        transition: $sidebar-animation-collapse-speed linear margin-left;
        & .page-sidebar-closed {
            margin-left: $sidebar-collapsed-width;
            transition: $sidebar-animation-collapse-speed linear margin-left;
        }
    }
}
/*

@media (min-width: 992px) {
    .page-sidebar {
        width: $sidebar-width;
        transition: $sidebar-animation-collapse-speed linear width;

        .page-sidebar-closed & {
            width: $sidebar-collapsed-width;
            transition: $sidebar-animation-collapse-speed linear width;
        }
    }
    .page-sidebar-menu {


        > li > a span.title {
            position: absolute;
            visibility: visible;
            opacity: 1;
            letter-spacing: 1px;
            transition: $sidebar-animation-collapse-speed / 2 linear all;
            line-height: 20px;
        }

        li {
            &.open > .sub-menu {
                display: block;
            }
        }

        //.page-sidebar-closed & > li
        .page-sidebar-closed & > li {

            &:hover {
                position: relative;
                width: $sidebar-width + $sidebar-collapsed-width;
                //padding-left: $sidebar-collapsed-width;
                > a {
                    //width: $sidebar-width;
                    span.title {
                        padding-left: 20px;
                    }
                }
            }

            &:not(:hover) > a span.title {
                opacity: 0;
                visibility: hidden;
                letter-spacing: -5px;
                transition: $sidebar-animation-collapse-speed / 2 linear all;
            }

            &:not(:hover) > a span.arrow {
                display: none;
            }


            &.open > .sub-menu {
                position: absolute;
            }
        }
    }

    .page-content {
        margin-left: $sidebar-width;
        transition: $sidebar-animation-collapse-speed linear margin-left;
        & .page-sidebar-closed {
            margin-left: $sidebar-collapsed-width;
            transition: $sidebar-animation-collapse-speed linear margin-left;
        }
    }
}



.page-sidebar {

}
.page-content-wrapper {

}
*/
