extends layouts/default

block vars
    //- includeHighlightJs = true;

block page-title
    | Code Block

block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('code-block.html', true) Code Block

block content

    .row
        .col-md-12

            code-block(language='php', title='FirstClass', description='This class uses the TheClass').
                class FirstClass extends TheClass {
                    public function __construct(){
                        debug('asdf');
                    }
                }

            code-block(language='php', title='More code...').
                class MyTopClass extends BaseClass {
                    protected $name;
                    public function __construct($name){
                        $this->name = $name;
                    }
                }

