extends layouts/default

mixin layout-action(id, name, js)
    tr
        td.pl.pr: +abtn(id='layout-' + id, data-layout-api=id, primary, xs, block).layout-action-button=name
        td.pl.pr: pre.m-n.p-n: code.lang-javascript.bg-color-grey-50=js
        td.pl.pr: pre.m-n.p-n: code.lang-html.bg-color-grey-50='<a href="#" data-toggle="' + id + '"></a>'

append styles
    link(href=assetPath + 'bower_components/highlightjs/styles/tomorrow.css', type="text/css", rel="stylesheet")

block page-title
    | Layout API


block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('layout-api.html', true) Layout API


block content
    .row
        .col-md-12
            table.table.table-bordered.table-striped.table-hover.table-xs.thead-inverse
                thead: tr
                    th.pl Try it
                    th.pl Javascript API
                    th.pl HTML5 data-toggle
                tbody
                    +layout-action('page-boxed', 'Page boxed', 'app.layout.setBoxed(true || false)')
                    +layout-action('header-fixed', 'Header fixed', 'app.layout.setHeaderFixed(true || false)')
                    +layout-action('footer-fixed', 'Footer fixed', 'app.layout.setFooterFixed(true || false)')
                    +layout-action('sidebar-fixed', 'Sidebar fixed', 'app.layout.setSidebarFixed(true || false)')
                    +layout-action('compact-sidebar', 'Compact sidebar', 'app.layout.setSidebarCompact(true || false)')
                    +layout-action('hover-sidebar', 'Hover sidebar', 'app.layout.setSidebarHover(true || false)')
                    +layout-action('reversed-sidebar', 'Reversed sidebar', 'app.layout.setSidebarReversed(true || false)')
                    +layout-action('close-submenus', 'Close submenus', 'app.layout.closeSubmenus()')
                    +layout-action('close-sidebar', 'Close sidebar', 'app.layout.closeSidebar()')
                    +layout-action('open-sidebar', 'Open sidebar', 'app.layout.openSidebar()')
                    +layout-action('hide-sidebar', 'Hide sidebar', 'app.layout.hideSidebar()')
                    +layout-action('show-sidebar', 'Show sidebar', 'app.layout.showSidebar()')




append scripts
    script(src=assetPath + 'bower_components/highlightjs/highlight.pack.min.js')

append init-script
    script.
        packadic.Application.instance.booted(function(app){

            hljs.initHighlighting();

        });
