extends layouts/default

block vars
    //- includeHighlightJs = true;

block page-title
    | Notifications

block page-subtitle
    | using jquery.noty.js

block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('noty.html', true) Noty

block append scripts
    script.
        window.anim = {};
        window.anim.open = 'flipInX';
        window.anim.close = 'flipOutX';

        $('#anim-open').on('change', function (e) {
            window.anim.open = $(this).val();
        });

        $('#anim-close').on('change', function (e) {
            window.anim.close = $(this).val();
        });

        $('.runner').on('click', function (e) {

            var notes = [];

            notes['alert'] = 'Best check yo self, you\'re not looking too good.';
            notes['error'] = 'Change a few things up and try submitting again.';
            notes['success'] = 'You successfully read this important alert message.';
            notes['information'] = 'This alert needs your attention, but it\'s not super important.';
            notes['warning'] = '<strong>Warning!</strong> <br /> Best check yo self, you\'re not looking too good.';
            notes['confirm'] = 'Do you want to continue?';

            e.preventDefault();

            var self = $(this);

            if ( self.data('layout') == 'inline' ) {
                $(self.data('custom')).noty($.extend({}, app.config('vendor.noty'), {
                    text        : notes[self.data('type')],
                    type        : self.data('type'),
                    dismissQueue: true,
                    animation   : {
                        open : 'animated bounceInRight',
                        close: 'animated bounceOutRight'
                    },
                    buttons     : (self.data('type') != 'confirm') ? false : [
                        {
                            addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {

                            // this = button element
                            // $noty = $noty element

                            $noty.close();
                            $(self.data('custom')).noty({force: true, text: 'You clicked "Ok" button', type: 'success'});
                        }
                        },
                        {
                            addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            $(self.data('custom')).noty({force: true, text: 'You clicked "Cancel" button', type: 'error'});
                        }
                        }
                    ]
                }));
                return false;
            }

            packadic.addons.plugins.notify({
                text        : notes[self.data('type')],
                type        : self.data('type'),
                dismissQueue: true,
                layout      : self.data('layout'),
                animation   : {
                    open : 'animated ' + window.anim.open,
                    close: 'animated ' + window.anim.close
                },
                buttons: (self.data('type') != 'confirm') ? false : [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {

                        $noty.close();
                        packadic.addons.plugins.notify({
                            force  : true, animation: {
                                open : 'animated ' + window.anim.open,
                                close: 'animated ' + window.anim.close
                            }, text: 'You clicked "Ok" button', type: 'success', layout: self.data('layout')
                        });
                    }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                        $noty.close();
                        packadic.addons.plugins.notify({
                            force  : true,
                            animation: {
                                open : 'animated bounceIn',
                                close: 'animated bounceOut'
                            }, text: 'You clicked "Cancel" button', type: 'error', layout: self.data('layout')
                        });
                    }
                    }
                ]
            });
            return false;
        });

block content
    #layouts
        .row
            .col-xs-12.col-md-4.col-lg-4
                p.excerpt
                    strong NOTY
                    |  has
                    strong 11
                    |  layouts and also you can create custom layouts.
            .col-xs-12.col-md-4.col-lg-4
                h3 Top
                a.runner(href='', data-layout='top', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='top', data-type='success') Success
                | ,
                a.runner(href='', data-layout='top', data-type='error') Error
                | ,
                a.runner(href='', data-layout='top', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='top', data-type='information') Information
                | ,
                a.runner(href='', data-layout='top', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                label(for='anim-open') Open Animation (Animate.css)
                #uniform-anim-open.selector(style='width: 281.56px;')
                    span(style='width: 257.4px; -webkit-user-select: none;') flipInX
                    select#anim-open(name='anim-open')
                        optgroup(label='Attention Seekers')
                            option(value='bounce') bounce
                            option(value='flash') flash
                            option(value='pulse') pulse
                            option(value='rubberBand') rubberBand
                            option(value='shake') shake
                            option(value='swing') swing
                            option(value='tada') tada
                            option(value='wobble') wobble
                        optgroup(label='Bouncing Entrances')
                            option(value='bounceIn') bounceIn
                            option(value='bounceInDown') bounceInDown
                            option(value='bounceInLeft') bounceInLeft
                            option(value='bounceInRight') bounceInRight
                            option(value='bounceInUp') bounceInUp
                        optgroup(label='Bouncing Exits')
                            option(value='bounceOut') bounceOut
                            option(value='bounceOutDown') bounceOutDown
                            option(value='bounceOutLeft') bounceOutLeft
                            option(value='bounceOutRight') bounceOutRight
                            option(value='bounceOutUp') bounceOutUp
                        optgroup(label='Fading Entrances')
                            option(value='fadeIn') fadeIn
                            option(value='fadeInDown') fadeInDown
                            option(value='fadeInDownBig') fadeInDownBig
                            option(value='fadeInLeft') fadeInLeft
                            option(value='fadeInLeftBig') fadeInLeftBig
                            option(value='fadeInRight') fadeInRight
                            option(value='fadeInRightBig') fadeInRightBig
                            option(value='fadeInUp') fadeInUp
                            option(value='fadeInUpBig') fadeInUpBig
                        optgroup(label='Fading Exits')
                            option(value='fadeOut') fadeOut
                            option(value='fadeOutDown') fadeOutDown
                            option(value='fadeOutDownBig') fadeOutDownBig
                            option(value='fadeOutLeft') fadeOutLeft
                            option(value='fadeOutLeftBig') fadeOutLeftBig
                            option(value='fadeOutRight') fadeOutRight
                            option(value='fadeOutRightBig') fadeOutRightBig
                            option(value='fadeOutUp') fadeOutUp
                            option(value='fadeOutUpBig') fadeOutUpBig
                        optgroup(label='Flippers')
                            option(value='flip') flip
                            option(value='flipInX', selected='selected') flipInX
                            option(value='flipInY') flipInY
                            option(value='flipOutX') flipOutX
                            option(value='flipOutY') flipOutY
                        optgroup(label='Lightspeed')
                            option(value='lightSpeedIn') lightSpeedIn
                            option(value='lightSpeedOut') lightSpeedOut
                        optgroup(label='Rotating Entrances')
                            option(value='rotateIn') rotateIn
                            option(value='rotateInDownLeft') rotateInDownLeft
                            option(value='rotateInDownRight') rotateInDownRight
                            option(value='rotateInUpLeft') rotateInUpLeft
                            option(value='rotateInUpRight') rotateInUpRight
                        optgroup(label='Rotating Exits')
                            option(value='rotateOut') rotateOut
                            option(value='rotateOutDownLeft') rotateOutDownLeft
                            option(value='rotateOutDownRight') rotateOutDownRight
                            option(value='rotateOutUpLeft') rotateOutUpLeft
                            option(value='rotateOutUpRight') rotateOutUpRight
                        optgroup(label='Specials')
                            option(value='hinge') hinge
                            option(value='rollIn') rollIn
                            option(value='rollOut') rollOut
                        optgroup(label='Zoom Entrances')
                            option(value='zoomIn') zoomIn
                            option(value='zoomInDown') zoomInDown
                            option(value='zoomInLeft') zoomInLeft
                            option(value='zoomInRight') zoomInRight
                            option(value='zoomInUp') zoomInUp
                        optgroup(label='Zoom Exits')
                            option(value='zoomOut') zoomOut
                            option(value='zoomOutDown') zoomOutDown
                            option(value='zoomOutLeft') zoomOutLeft
                            option(value='zoomOutRight') zoomOutRight
                            option(value='zoomOutUp') zoomOutUp
                label(for='anim-close') Close Animation (Animate.css)
                #uniform-anim-close.selector(style='width: 281.56px;')
                    span(style='width: 257.4px; -webkit-user-select: none;') flipOutX
                    select#anim-close(name='anim-close')
                        optgroup(label='Attention Seekers')
                            option(value='bounce') bounce
                            option(value='flash') flash
                            option(value='pulse') pulse
                            option(value='rubberBand') rubberBand
                            option(value='shake') shake
                            option(value='swing') swing
                            option(value='tada') tada
                            option(value='wobble') wobble
                        optgroup(label='Bouncing Entrances')
                            option(value='bounceIn') bounceIn
                            option(value='bounceInDown') bounceInDown
                            option(value='bounceInLeft') bounceInLeft
                            option(value='bounceInRight') bounceInRight
                            option(value='bounceInUp') bounceInUp
                        optgroup(label='Bouncing Exits')
                            option(value='bounceOut') bounceOut
                            option(value='bounceOutDown') bounceOutDown
                            option(value='bounceOutLeft') bounceOutLeft
                            option(value='bounceOutRight') bounceOutRight
                            option(value='bounceOutUp') bounceOutUp
                        optgroup(label='Fading Entrances')
                            option(value='fadeIn') fadeIn
                            option(value='fadeInDown') fadeInDown
                            option(value='fadeInDownBig') fadeInDownBig
                            option(value='fadeInLeft') fadeInLeft
                            option(value='fadeInLeftBig') fadeInLeftBig
                            option(value='fadeInRight') fadeInRight
                            option(value='fadeInRightBig') fadeInRightBig
                            option(value='fadeInUp') fadeInUp
                            option(value='fadeInUpBig') fadeInUpBig
                        optgroup(label='Fading Exits')
                            option(value='fadeOut') fadeOut
                            option(value='fadeOutDown') fadeOutDown
                            option(value='fadeOutDownBig') fadeOutDownBig
                            option(value='fadeOutLeft') fadeOutLeft
                            option(value='fadeOutLeftBig') fadeOutLeftBig
                            option(value='fadeOutRight') fadeOutRight
                            option(value='fadeOutRightBig') fadeOutRightBig
                            option(value='fadeOutUp') fadeOutUp
                            option(value='fadeOutUpBig') fadeOutUpBig
                        optgroup(label='Flippers')
                            option(value='flip') flip
                            option(value='flipInX') flipInX
                            option(value='flipInY') flipInY
                            option(value='flipOutX', selected='selected') flipOutX
                            option(value='flipOutY') flipOutY
                        optgroup(label='Lightspeed')
                            option(value='lightSpeedIn') lightSpeedIn
                            option(value='lightSpeedOut') lightSpeedOut
                        optgroup(label='Rotating Entrances')
                            option(value='rotateIn') rotateIn
                            option(value='rotateInDownLeft') rotateInDownLeft
                            option(value='rotateInDownRight') rotateInDownRight
                            option(value='rotateInUpLeft') rotateInUpLeft
                            option(value='rotateInUpRight') rotateInUpRight
                        optgroup(label='Rotating Exits')
                            option(value='rotateOut') rotateOut
                            option(value='rotateOutDownLeft') rotateOutDownLeft
                            option(value='rotateOutDownRight') rotateOutDownRight
                            option(value='rotateOutUpLeft') rotateOutUpLeft
                            option(value='rotateOutUpRight') rotateOutUpRight
                        optgroup(label='Specials')
                            option(value='hinge') hinge
                            option(value='rollIn') rollIn
                            option(value='rollOut') rollOut
                        optgroup(label='Zoom Entrances')
                            option(value='zoomIn') zoomIn
                            option(value='zoomInDown') zoomInDown
                            option(value='zoomInLeft') zoomInLeft
                            option(value='zoomInRight') zoomInRight
                            option(value='zoomInUp') zoomInUp
                        optgroup(label='Zoom Exits')
                            option(value='zoomOut') zoomOut
                            option(value='zoomOutDown') zoomOutDown
                            option(value='zoomOutLeft') zoomOutLeft
                            option(value='zoomOutRight') zoomOutRight
                            option(value='zoomOutUp') zoomOutUp
        .row
            .col-xs-12.col-md-4.col-lg-4
                h3 TopLeft
                a.runner(href='', data-layout='topLeft', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='topLeft', data-type='success') Success
                | ,
                a.runner(href='', data-layout='topLeft', data-type='error') Error
                | ,
                a.runner(href='', data-layout='topLeft', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='topLeft', data-type='information') Information
                | ,
                a.runner(href='', data-layout='topLeft', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 TopCenter
                a.runner(href='', data-layout='topCenter', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='topCenter', data-type='success') Success
                | ,
                a.runner(href='', data-layout='topCenter', data-type='error') Error
                | ,
                a.runner(href='', data-layout='topCenter', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='topCenter', data-type='information') Information
                | ,
                a.runner(href='', data-layout='topCenter', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 TopRight
                a.runner(href='', data-layout='topRight', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='topRight', data-type='success') Success
                | ,
                a.runner(href='', data-layout='topRight', data-type='error') Error
                | ,
                a.runner(href='', data-layout='topRight', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='topRight', data-type='information') Information
                | ,
                a.runner(href='', data-layout='topRight', data-type='confirm') Confirm
                hr
        .row
            .col-xs-12.col-md-4.col-lg-4
                h3 CenterLeft
                a.runner(href='', data-layout='centerLeft', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='centerLeft', data-type='success') Success
                | ,
                a.runner(href='', data-layout='centerLeft', data-type='error') Error
                | ,
                a.runner(href='', data-layout='centerLeft', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='centerLeft', data-type='information') Information
                | ,
                a.runner(href='', data-layout='centerLeft', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 Center
                a.runner(href='', data-layout='center', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='center', data-type='success') Success
                | ,
                a.runner(href='', data-layout='center', data-type='error') Error
                | ,
                a.runner(href='', data-layout='center', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='center', data-type='information') Information
                | ,
                a.runner(href='', data-layout='center', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 CenterRight
                a.runner(href='', data-layout='centerRight', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='centerRight', data-type='success') Success
                | ,
                a.runner(href='', data-layout='centerRight', data-type='error') Error
                | ,
                a.runner(href='', data-layout='centerRight', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='centerRight', data-type='information') Information
                | ,
                a.runner(href='', data-layout='centerRight', data-type='confirm') Confirm
                hr
        .row
            .col-xs-12.col-md-4.col-lg-4
                h3 BottomLeft
                a.runner(href='', data-layout='bottomLeft', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='bottomLeft', data-type='success') Success
                | ,
                a.runner(href='', data-layout='bottomLeft', data-type='error') Error
                | ,
                a.runner(href='', data-layout='bottomLeft', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='bottomLeft', data-type='information') Information
                | ,
                a.runner(href='', data-layout='bottomLeft', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 BottomCenter
                a.runner(href='', data-layout='bottomCenter', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='bottomCenter', data-type='success') Success
                | ,
                a.runner(href='', data-layout='bottomCenter', data-type='error') Error
                | ,
                a.runner(href='', data-layout='bottomCenter', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='bottomCenter', data-type='information') Information
                | ,
                a.runner(href='', data-layout='bottomCenter', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
                h3 BottomRight
                a.runner(href='', data-layout='bottomRight', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='bottomRight', data-type='success') Success
                | ,
                a.runner(href='', data-layout='bottomRight', data-type='error') Error
                | ,
                a.runner(href='', data-layout='bottomRight', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='bottomRight', data-type='information') Information
                | ,
                a.runner(href='', data-layout='bottomRight', data-type='confirm') Confirm
                hr
        .row
            .col-xs-12.col-md-4.col-lg-4
            .col-xs-12.col-md-4.col-lg-4
                h3 Bottom
                a.runner(href='', data-layout='bottom', data-type='alert') Alert
                | ,
                a.runner(href='', data-layout='bottom', data-type='success') Success
                | ,
                a.runner(href='', data-layout='bottom', data-type='error') Error
                | ,
                a.runner(href='', data-layout='bottom', data-type='warning') Warning
                | ,
                a.runner(href='', data-layout='bottom', data-type='information') Information
                | ,
                a.runner(href='', data-layout='bottom', data-type='confirm') Confirm
                hr
            .col-xs-12.col-md-4.col-lg-4
