- var bodyClass = 'page-header-fixed page-sidebar-closed-hide-logo'
- var sidebarClass = ''
- var pageHeaderClass = 'navbar-fixed-top';
- var assetPath = rootPath + 'assets/';
- var themeStyle = 'default';
block vars
doctype html
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
    <!--<![endif]-->
    head
        title test
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
    body

        #testPluginContainer testPlugin
        #testWidgetContainer testWidget

        script(src='assets/scripts/vendor.min.js')
        script(src='assets/scripts/packadic.js')
        script.
            // last
            var app = packadic.Application.instance;
            app.DEBUG = true;
            app.init({
                hello: 'test'
            });
            app.boot().then(function(app){
                $('#testPluginContainer').testPlugin({

                });
                $('#testWidgetContainer').testWidget({});
            });

