extends views/layouts/default

// block page-title
    | Home

// block breadcrumb
    +breadcrumb('index.html', true) Home

block page-content
    router-view(transition="view-fade", transition-mode="out-in", transition-speed="300", keep-alive)

