extends default
block vars
    - bodyClass += ' .angular2-app';

block append scripts
    +javascript('reflect-metadata/Reflect', true)
    +javascript('system.js/dist/system.src')
    +javascript('../angular2-app/app')

block init-script
    script.
        System.config({
            defaultJSExtensions: true,
            map                : {
                angular2: 'assets/angular2',
                rx      : 'bower_components/rxjs/dist/rx.js'
            }
        });

        System.import('angular2-app/app');

        var app = packadic.Application.instance;
        app.DEBUG = true;
        app
            .init({
                hello: 'test'
            })
            .boot()
            .then(function (app) {
                $('#testPluginContainer').testPlugin({});
                $('#testWidgetContainer').testWidget({});
            });
