div
    page(title='Permissions', subtitle="User management")
        page-breadcrumbs(slot='breadcrumb', :items="breadcrumbs")

        tabs.tabbable
            tab(header='one')
                p Crescere una ducunt ad secundus axona.
                p Est regius amor, cesaris.
                p The master traps solitude which is not powerful.
            tab(header='two')
                p Fortiss studere in cirpi!
                p The hermetic sinner is growing, the apostolic wind is listening.

